.event-item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding: 50px 20px;
    cursor: pointer;
    width: 50%;
}

.event-item-head {
    display: flex;
}

.event-item:hover {
    border: 2px solid black;
}

.event-item-img {
    max-width: 300px;
}
