.event-item-container {
    display: flex;
    flex-direction: column;
    border-top: 2px solid lightgray;
    padding: 40px 20px 10px 40px;
    cursor: pointer;
    align-items: flex-start;
    gap: 10px
}

.event-item-container:hover {
    border: 1px solid black;
}

.event-item {
    display: flex;
    align-items: flex-start;
    gap: 20px
}
