.members-modal-wrapper {
    padding: 1px 20px;
    min-height: 50vh;
    min-width: 35vw;
}

.hover:hover {
    cursor: pointer;
}

.member-box {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 2fr 1fr;
    column-gap: 15px;
    grid-template-areas:
        "top1 top1 top1 top1 top2 top2 top3 top4"
        "bot1 bot1 bot1 bot1 bot1 bot1 bot2 bot3";
}

.member-name {
    grid-area: top1;
}

.member-status {
    grid-area: top2;
}

.confirmation-p-tag {
    margin: 0;
    font-size: .7rem;
    color: brown;
    grid-area: bot1;
}

.user-manage-icon {
    font-size: 1.1rem;
    padding: 5px;
    justify-self: end;

}

.user-manage-icon:hover {
    cursor: pointer;
}

.user-remove {
    color: brown;
    grid-area: top4;
}

.user-remove:hover {
    color: rgb(255, 0, 0);
}


.user-manage {
    color: rgb(95, 168, 95);
    grid-area: top3;
}

.user-manage:hover {
    color: rgb(0, 213, 0);
}

/* .user-interactions-div {

    gap: 15px;

    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr;
} */

.confirm-remove-member {
    background-color: inherit;
}

.confirm-remove-member:hover {
    cursor: pointer;
}

.member-remove {
    color: brown;
    border: 2px solid brown;
    grid-area: bot3;
}

.member-remove-not {
    color: rgb(95, 168, 95);
    border: 2px solid rgb(95, 168, 95);
    grid-area: bot2;
}

.member-remove:hover {
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
}

.member-remove-not:hover {
    color: rgb(0, 213, 0);
    border: 2px solid rgb(0, 213, 0);
}
