.group-item {
    display: flex;
    border-top: 1px solid black;
    padding: 50px 20px;
    cursor: pointer;
    width: 50%
}

.group-item:hover {
    border: 2px solid black;
}

.group-item-img {
    max-width: 300px;
}
