.group-item {
    display: flex;
    border-top: 2px solid lightgray;
    padding: 40px 20px;
    cursor: pointer;
    align-items: center;
    gap: 20px;
}

.group-item:hover {
    border: 1px solid black;
}

.group-item-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.group-item-img {
    max-width: 100%;

}
