.action-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-link {
    text-decoration: none;
    color: teal;
    font-size: 1.3rem;
    padding: 10px;
}

.action-link:hover {
    text-decoration: underline;
}

.disabled-link {
    pointer-events: none;
    color: gray;
}

.action-image {
    width: 200px;
}
