.actions-container {
    display: flex;
    justify-content: space-around;
    margin: 0 15%
}

.title-sec-container {
    display: flex;
    justify-content: space-around;
}

.subtitle-sec-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-text {
    width: 60%;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: center;
}

.join-sec-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.landing-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10%;
}

.title-img {
    width: 100%;

}

#lp-title {
    margin: 0;
}

.landing-info {

    font-size: 1.3rem;
    line-height: 2.2rem;
    max-width: 90%;
}

.landing-title {
    padding: 0px 20px 20px 30px;
    width: 100%;
}

.get-together-span {

    color: rgb(95, 168, 95);
}

.join-bttn {
    border: 2px solid teal;
    color: teal;
    width: 200px;
}
