.actions-container {
    display: flex;
    justify-content: space-around;
    margin: 0 15%
}

.title-sec-container {
    display: flex;
    justify-content: space-around;
}

.subtitle-sec-container,
.join-sec-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.landing-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
}
