.input-section {
    border-top: 2px solid gray;
    padding-bottom: 30px;
}

.gray {
    color: gray;
}


.create-form {
    padding: 0px 100px;
}

.create-group-about {
    height: 70px;
    width: 300px;
}

.create-group-image-url {
    width: 350px;
}

.create-group-name {
    width: 230px;
}

.teal {
    color: teal;
}
