.input-section {
    border-top: 2px solid gray;
    padding-bottom: 30px;
}

.gray {
    color: gray;
}


.create-form {
    padding: 0px 100px;
}

.create-group-about {
    height: 70px;
    width: 300px;
    resize: none;
}

.create-group-image-url {
    width: 350px;
}

.create-group-name {
    width: 230px;
}

.teal {
    color: teal;
}

.required-star {
    font-size: 1rem;
    color: red;
    text-align: start;
    padding-left: 2px;
}

.create-group-image-url::file-selector-button {
    background-color: rgb(85, 85, 85);
    box-shadow: 1px 1px black;
    color: rgb(251, 251, 249);
}

.create-group-image-url::file-selector-button:hover {
    background-color: gray;
    box-shadow: 1px 1px black;
    cursor: pointer;
}

.create-group-image-url::file-selector-button:active {
    position: relative;
    top: 1px;
    left: 1px;
}
