@font-face {
    font-family: 'BalsamiqSans-Regular';
    src: local('BalsamiqSans-Regular'), url(./fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'BalsamiqSans-Bold';
    src: local('BalsamiqSans-Bold'), url(./fonts/Balsamiq_Sans/BalsamiqSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'BalsamiqSans-Italic';
    src: local('BalsamiqSans-Italic'), url(./fonts/Balsamiq_Sans/BalsamiqSans-Italic.ttf) format('truetype');
}
