body {
    margin: 0px;
    font-family: 'BalsamiqSans-Regular', sans-serif;
}

input,
textarea,
button,
select {
    font-family: 'BalsamiqSans-Regular', sans-serif;
}

.hidden {
    display: none
}

.nav-links-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px grey solid;
}

.profile-bttn {
    border: 1px solid black;
    border-radius: 3px;
    width: 70px;
    height: 35px;
    cursor: pointer;

}


.profile-bttn:hover {
    box-shadow: 1px 3px 5px;
}

.profile-bttn:active {
    box-shadow: 1px 3px 10px;
}

.log-link {
    list-style-type: none;
    cursor: pointer;
    padding: 20px;
    border: 1px solid brown;
}

.log-link:hover {
    box-shadow: 1px 3px 5px;
}

.home-bttn {
    text-decoration: none;
    font-family: 'BalsamiqSans-Regular';
    font-size: 1.7rem;
    color: rgb(95, 168, 95);
}
