body {
    margin: 0px;
}

.hidden {
    display: none
}

.nav-links-ul {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px black solid;
}

.profile-bttn {
    border: 1px solid black;
    border-radius: 3px;
    width: 70px;
    height: 35px;
    cursor: pointer;

}


.profile-bttn:hover {
    box-shadow: 1px 3px 5px;
}

.profile-bttn:active {
    box-shadow: 1px 3px 10px;
}

.log-link {
    list-style-type: none;
    cursor: pointer;
    padding: 20px;
    border: 1px solid brown;
}

.log-link:hover {
    box-shadow: 1px 3px 5px;
}

.home-bttn {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: rgb(117, 172, 117);
}
