body {
    background-color: rgba(248, 243, 236, 0.231);
}

.errors {
    color: red
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px
}

.form input {
    width: 100%;
}

.login-form {}
