.details-page-events {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.details-page-gray-wrapper {
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;

}

.details-page-header-wrapper {
    position: relative;
    left: 10%;
}

.events-event-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 80%;
}

.event-image-info-container {
    display: flex;
    gap: 20px;
}

.event-info-group-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mini-group-container {
    display: flex;
    background-color: rgb(251, 251, 249);
    padding: 10px;
    border-radius: 20px;
}

.event-info-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 251, 249);
    padding: 10px;
    border-radius: 20px;
}

.event-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
}

.event-details-img {
    width: 100%;
}

.mini-group-img {
    width: 150px
}
